Flask
Flask-SQLAlchemy
selenium
supabase
python-dotenv
psycopg[binary]
flask-supabase
gunicorn
openai
resend
markdown
python-frontmatter
flask-limiter
flask-wtf
pdfplumber
python-docx
python-pptx
better-profanity